version: "3.10"
services:
  db:
    image: postgres:15
    container_name: ${DB_NAME}
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}